# Exclude virtual environment and python cache files
venv
*.pyc

# Exclude statically collected images
/static

# Exclude secrets and environment configuration
.env

# Exclude sqlite database (if present)
*.sqlite3

# Exclude editor files
.vscode
