{% load static %}
<!doctype html>
<html lang="en">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114354559-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-114354559-1');
	</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Frag-Fest is an eSports Carnival to celebrate gaming as a union of communities, a conclave of emotions and to find out who is best of the best." />
    <meta name="keywords" content="Frag-Fest Aparoksha IIIT Allahabad eSports Gaming Counter Strike Global Offensive FIFA" />
	<meta name="author" content="Team Frag-Fest">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cyborg/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="{% static 'portal/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'portal/css/schedule.css' %}" />
	
	<link rel="shortcut icon" type="image/png" href="{% static 'portal/img/favicon.png' %}"/>
	<title>Frag-Fest' 18 | IIIT Allahabad</title>
</head>

<body>
	<header>
		{% include 'portal/nav.html' %}
	</header>
	<main>
		<div class="container">
			{% include 'portal/messages.html' %}
			{% block content %}
			{% endblock %}
		</div>
	</main>

	 {% include 'stat/footer.html' %}

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'portal/js/main.js' %}"></script>
	
</body>
</html>
