{% extends 'portal/base.html' %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h3>Team Dashboard
		<small class="text-muted">Counter Strike: Global Offensive</small>
	</h3>
</div>
<div class="row">
  <div class="col-md-6">
	<h5>Join Team</h5>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Team</th>
				<th scope="col">Social</th>
				<th scope="col">Apply</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams_available %}
			<tr>
				<td>{{ team.name }}</td>
				<td>{{ team.link }}</td>
				<td><button class="btn" type="submit" name="join" value="{{ team.pk }}">Here</button></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
  </div>
  <div class="col-md-6">
    <h5>Create Team</h5>
    <form action="#" method="POST">{% csrf_token %}
			{{ create_form }}
      <button class="btn btn-primary btn-lg btn-block" name="create" type="submit">Update Details</button>
    </form>
    <hr class="mb-4">
  </div><!--Edit profile ends -->
</div>
{% endblock %}