{% extends 'portal/base.html' %}

{% block title %}Team Dashboard | Frag-Fest' 18{% endblock %}
{% block description %}
<meta name="description" content="Create and Manage your teams, to compete in the Frag-Fest' 18 tournament. Prizes worth ₹1,00,000 at stakes" />
{% endblock %}

{% block content %}
<div class="px-3 py-3 pb-md-4 mx-auto text-center">
	<h3>Team Dashboard
		<small class="text-muted">Counter Strike: Global Offensive</small>
	</h3>
</div>
<div class="row justify-content-between">
  <div class="col-md-6">
	<h5>Join <small class="text-muted">One of these teams</small></h5>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Team Name</th>
				<th scope="col">No of Members</th>
				<th scope="col">Details</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams_available %}
			<tr>
				<td>{{ team.name }}</td>
				<td>{{ team.size }}</td>
				<td><a href="{% url 'portal:team' pk=team.pk %}">Team Page</a></td>
			</tr>
			{% empty %}
			<tr><td>No teams available</td></tr>
			{% endfor %}
		</tbody>
	</table>
  </div>
  <div class="col-md-5">
    <h5><small class="text-muted">or </small>Create <small class="text-muted">your own team.</small></h5>
    <form action="#" method="POST">{% csrf_token %}
			{{ team_form }}
      <button class="btn btn-primary btn-lg btn-block" name="create" type="submit">Create Team</button>
    </form>
    <hr class="mb-4">
  </div><!--Edit profile ends -->
</div>
{% endblock %}