<div class="container">
	<div class="card-deck mb-3 text-center">
			<div class="card mb-3 box-shadow">
					<div class="card-header">
							<h4 class="my-0 font-weight-normal">FIFA 18</h4>
					</div>
					<div class="card-body">
							<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
							<ul class="list-unstyled mt-3 mb-4">
									<li></li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
							</ul>
							<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
					</div>
			</div>
			<div class="card mb-4 box-shadow">
					<div class="card-header">
							<h4 class="my-0 font-weight-normal">Counter-Strike: Global Offensive</h4>
					</div>
					<div class="card-body">
							<h1 class="card-title pricing-card-title">₹ 1,00,000 <small class="text-muted"> Prize Pool</small></h1>
							<ul class="list-unstyled mt-3 mb-4">
									<li>Single Stage Knockout Prelims</li>
									<li>LAN battle for top 16</li>
									<li>Goodies and Exciting Stuff</li>
									<li>Travel Reimburse</li>
							</ul>
							<button type="button" class="btn btn-lg btn-block btn-primary">Register Now!</button>
					</div>
			</div>
			<div class="card mb-4 box-shadow">
					<div class="card-header">
							<h4 class="my-0 font-weight-normal">Gaming Arena</h4>
					</div>
					<div class="card-body">
							<h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
							<ul class="list-unstyled mt-3 mb-4">
									<li>30 users included</li>
									<li>15 GB of storage</li>
									<li>Phone and email support</li>
									<li>Help center access</li>
							</ul>
							<button type="button" class="btn btn-lg btn-block btn-outline-primary">Learn more</button>
					</div>
			</div>
	</div>
</div>