{% load static %}
{% with request.resolver_match.url_name as page %}
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-danger">
	<div class="container">
		<a class="navbar-brand nav-centre-brand frag-fest-logo" href="{% url 'portal:index' %}">FRAG-FEST' 18</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="navbar-collapse collapse" id="mainNavbar">
			<ul class="navbar-nav">
				<li class="nav-item {% if page == 'index' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:index' %}">Home</a></li>
				<li class="nav-item {% if page == 'event' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:event' %}">The Event</a></li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Games
					</a>
					<div class="dropdown-menu bg-danger" aria-labelledby="navbarDropdown">
						<a class="dropdown-item {% if page == 'csgo' %}active{% endif %}" href="{% url 'portal:csgo' %}">Counter-Strike: Global Offensive</a>
						<a class="dropdown-item {% if page == 'fifa' %}active{% endif %}" href="{% url 'portal:fifa' %}">FIFA 18</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item {% if page == 'all_games' %}active{% endif %}" href="{% url 'portal:all_games' %}">All Games</a>
					</div>
				</li>
				{% comment %}
				<li class="nav-item"><a class="nav-link" href="{% url 'portal:team_list' %}">Registered Teams</a></li>
				{% endcomment %}
			</ul>
			
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
				<li class="nav-item {% if page == 'profile' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:profile'  %}">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'portal:logout' %}">Logout</a></li>
				{% else %}
				<li class="nav-item {% if page == 'login' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:login' %}">Login</a></li>
				<li class="nav-item {% if page == 'signup' %}active{% endif %}" id="register"><a class="nav-link" href="{% url 'portal:signup' %}">Register</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

{% endwith %}

<nav class="container mx-auto pt-1" id="sponsors" >
	<div class="row justify-content-center">
		<div class="col-auto" id="CircleCT">
			<div class="text-center">Powered By</div>
			<div class="logo">
				<a target="_blank" href="http://www.circlect.com/">
					<img src="{% static 'portal/img/sponsors/circle_big.png' %}" class="img-fluid" alt="CircleCT">
				</a>
			</div>
		</div>
		<div class="col-auto" id="xSplit">
			<div class="text-center">Streaming Partner</div>
			<div class="logo">
				<a target="_blank" href="https://www.xsplit.com/">
					<img src="{% static 'portal/img/sponsors/xsplit.png' %}" class="img-fluid" alt="XSplit">
				</a>
			</div>
		</div>
	</div>
</nav>

<aside>
	<div id="side-float" class="visible">
		<ul>
			{% for name, link in SOCIAL.items %}
			<li class="{{ name }}"><a href="{{ link }}" target="_blank"><i class="fa fa-lg fa-{{ name }}"></i><span class="text-capitalize">{{ name }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<a id="side-toggle" href="#"><i class="fa fa-lg fa-chevron-circle-left"></i><span>hide</span></a>
</aside>
