<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#"><img src="../../static/portal/logo/logo_transparent.png" alt="" class="img-fluid" style="height: 50px; width: 50px; display: block;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'portal:index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'portal:team_list' %}">Registered Teams</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'portal:dashboard' %}">Team Dashboard</a>
				</li>
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'portal:profile'  %}">
						{% if user.profile.username %}{{ user.profile.username }} {% else %} Profile {% endif %}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'portal:logout' %}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'portal:signup' %}">Register</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'portal:login' %}">Login</a>
				</li>
				{% endif %}
			</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" target="blank" href="https://www.facebook.com/FragFestIIITA/"><i class="fa fa-facebook"></i></a></li>
					<li class="nav-item"><a class="nav-link" target="blank" href="https://twitter.com/FragFestIIITA/"><i class="fa fa-twitter"></i></a></li>
					<li class="nav-item"><a class="nav-link" target="blank" href="https://www.youtube.com/channel/UCsuoNyw1L8W58mXAsXZ90ZA?"><i class="fa fa-youtube-play"></i></a></li>
					<li class="nav-item"><a class="nav-link" target="blank" href="https://plus.google.com/+FragFest"><i class="fa fa-google-plus"></i></a></li>
					<li class="nav-item"><a class="nav-link" target="blank" href="https://steamcommunity.com/groups/Frag-Fest"><i class="fa fa-steam"></i></a></li>
			</ul>
		</div>
	</nav>
