<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-danger">
	<div class="container">
		<a class="navbar-brand nav-centre-brand font-weight-bold" href="{% url 'portal:index' %}"><h5>FRAG-FEST' 18</h5></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="navbar-collapse collapse" id="mainNavbar">
			<ul class="navbar-nav">
				<li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:index' %}">Home</a></li>
				<li class="nav-item {% if request.resolver_match.url_name == 'event' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:event' %}">The Event</a></li>
				<li class="nav-item {% if request.resolver_match.url_name == 'csgo' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:csgo' %}">CS:GO</a></li>
				<li class="nav-item {% if request.resolver_match.url_name == 'fifa' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:fifa' %}">FIFA</a></li>
				{% comment %}
				<li class="nav-item"><a class="nav-link" href="{% url 'portal:team_list' %}">Registered Teams</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'portal:dashboard' %}">Team Dashboard</a></li>
				{% endcomment %}
			</ul>
			
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
				<li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:profile'  %}">Profile</a></li>
				<li class="nav-item"><a class="nav-link" href="{% url 'portal:logout' %}">Logout</a></li>
				{% else %}
				<li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}"><a class="nav-link" href="{% url 'portal:login' %}">Login</a></li>
				<li class="nav-item {% if request.resolver_match.url_name == 'signup' %}active{% endif %}" id="register"><a class="nav-link" href="{% url 'portal:signup' %}">Register</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<aside>
	<div id="side-float" class="visible">
		<ul>
			{% for name, link in SOCIAL.items %}
			<li class="{{ name }}"><a href="{{ link }}" target="_blank"><i class="fa fa-lg fa-{{ name }}"></i><span>{{ name }}</span></a></li>
			{% endfor %}
		</ul>
	</div>
	<a id="side-toggle" href="#"><i class="fa fa-lg fa-chevron-circle-left"></i><span>hide</span></a>
</aside>
