{% extends 'portal/base.html' %}
{% load staticfiles %}
{% block content %}

	<div class="container">
		<div class="at-section">
			<div class="at-section__title">Organizers</div>
		</div>
		<div class="at-grid" data-column="4">
			<div class="at-column">
					<div class="at-user">
						<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
						<div class="at-user__name">Raghav Khandelwal</div>
						<div class="at-user__title">Head Coordinator</div>
						<div class="at-social">
							<li class="at-social__item">
								<a href="https://www.facebook.com/raghavthecyberdude">
									<i class="fa fa-facebook-official"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://twitter.com/gr8raghav">
									<i class="fa fa-twitter"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://www.linkedin.com/in/raghavthecyberdude">
									<i class="fa fa-linkedin-square"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://github.com/RaghavTheCyberdude/">
									<i class="fa fa-github"></i></a>
							</li>
						</div>
					</div>
			</div>
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Atul Sinha</div>
					<div class="at-user__title">Head Coordinator</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/PiyushA01">
								<i class="fa fa-facebook-official"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://twitter.com/PiyushArora01">
								<i class="fa fa-twitter"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://www.linkedin.com/in/piyush-arora/">
								<i class="fa fa-linkedin-square"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://github.com/PiyushArora01/">
								<i class="fa fa-github"></i></a>
						</li>
					</div>
				</div>
			</div>
			
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Hariom Niranjan</div>
					<div class="at-user__title">Head Coordinator</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/kirihack13">
								<i class="fa fa-facebook-official"></i></a>
							<li class="at-social__item">
								<a href="https://twitter.com/harpahulsingh">
									<i class="fa fa-twitter"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://www.linkedin.com/in/harpahul-bhatia-9235b5115">
									<i class="fa fa-linkedin-square"></i></a>
							</li>
					</div>
				</div>
			</div>
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Manan Maheshwari</div>
					<div class="at-user__title">PR and Branding</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/nikunj.sharma.08">
								<i class="fa fa-facebook-official"></i></a>
						</li>
					</div>
				</div>
			</div>
			<div class="at-column">
					<div class="at-user">
						<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
						<div class="at-user__name">Arindam Das Modak</div>
						<div class="at-user__title">Web Developer</div>
						<div class="at-social">
							<li class="at-social__item">
								<a href="https://www.facebook.com/raghavthecyberdude">
									<i class="fa fa-facebook-official"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://twitter.com/gr8raghav">
									<i class="fa fa-twitter"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://www.linkedin.com/in/raghavthecyberdude">
									<i class="fa fa-linkedin-square"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://github.com/RaghavTheCyberdude/">
									<i class="fa fa-github"></i></a>
							</li>
						</div>
					</div>
			</div>
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Agam Dwivedi</div>
					<div class="at-user__title">Web Developer</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/PiyushA01">
								<i class="fa fa-facebook-official"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://twitter.com/PiyushArora01">
								<i class="fa fa-twitter"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://www.linkedin.com/in/piyush-arora/">
								<i class="fa fa-linkedin-square"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://github.com/PiyushArora01/">
								<i class="fa fa-github"></i></a>
						</li>
					</div>
				</div>
			</div>
			
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Austin Kispotta</div>
					<div class="at-user__title">PR and Branding</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/kirihack13">
								<i class="fa fa-facebook-official"></i></a>
							<li class="at-social__item">
								<a href="https://twitter.com/harpahulsingh">
									<i class="fa fa-twitter"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://www.linkedin.com/in/harpahul-bhatia-9235b5115">
									<i class="fa fa-linkedin-square"></i></a>
							</li>
					</div>
				</div>
			</div>
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Shubham Yadav</div>
					<div class="at-user__title">Event Management and Hospitality</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/nikunj.sharma.08">
								<i class="fa fa-facebook-official"></i></a>
						</li>
					</div>
				</div>
			</div>
			<div class="at-column">
					<div class="at-user">
						<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
						<div class="at-user__name">Pratyay Kumar</div>
						<div class="at-user__title">Event Management and Hospitality</div>
						<div class="at-social">
							<li class="at-social__item">
								<a href="https://www.facebook.com/raghavthecyberdude">
									<i class="fa fa-facebook-official"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://twitter.com/gr8raghav">
									<i class="fa fa-twitter"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://www.linkedin.com/in/raghavthecyberdude">
									<i class="fa fa-linkedin-square"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://github.com/RaghavTheCyberdude/">
									<i class="fa fa-github"></i></a>
							</li>
						</div>
					</div>
			</div>
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Raghav Dhupar</div>
					<div class="at-user__title">Event Management and Hospitality</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/PiyushA01">
								<i class="fa fa-facebook-official"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://twitter.com/PiyushArora01">
								<i class="fa fa-twitter"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://www.linkedin.com/in/piyush-arora/">
								<i class="fa fa-linkedin-square"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://github.com/PiyushArora01/">
								<i class="fa fa-github"></i></a>
						</li>
					</div>
				</div>
			</div>
			
			<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/fifa.jpg' %}"></div>
					<div class="at-user__name">Saurabh Dabas</div>
					<div class="at-user__title">Sponsorship</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/kirihack13">
								<i class="fa fa-facebook-official"></i></a>
							<li class="at-social__item">
								<a href="https://twitter.com/harpahulsingh">
									<i class="fa fa-twitter"></i></a>
							</li>
							<li class="at-social__item">
								<a href="https://www.linkedin.com/in/harpahul-bhatia-9235b5115">
									<i class="fa fa-linkedin-square"></i></a>
							</li>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}	