{% extends 'portal/base.html' %}

{% block content %}
<div class="row pt-5 pb-md-4">
  <div class="col-md-8">
      <h2>Profile</h2>
      <h5 class="text-muted">{{ user.email }}</h5>
      {% if user.profile.email_confirmed %}
      <p class="small text-success">You have been succesfully registered for the onsite event of Frag-Fest. See you at <a href="https://goo.gl/maps/xETkws2bgcm" target="_blank" title="Visit on Google Maps">IIIT Allahabad <i class="fa fa-lg fa-map-marker"></i></a>.</p>
      {% else %}
      <p class="small text-warning">Your email has not been confirmed. <a href="{% url 'portal:resend_verification' %}">Resend verification email.</a></p>
      {% endif %}
  </div>
  <div class="col-md-4 pt-4 pb-4 text-white">
    <a href="{% url 'portal:dashboard' %}" class="btn btn-info btn-block btn-lg" name="updateProfile" type="submit"><i class="fa fa-inverse fa-users"></i> &nbsp; &nbsp;Team Dashboard</a>
  </div>
</div>

<div class="row">
  {% if user.profile.steam_connected %}
  <div class="col-md-2 pb-3">
    <div class="card mx-auto" style="max-width: 12rem;">
      <img class="card-img-top" src="{{ steam.avatarfull }}" alt="Profile Image">
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ steam.personaname }}</h5>
        <h6 class="card-subtitle mb-2 text-muted"><a href="{{ steam.profileurl }}">{{ steam.profileurl }}</a></h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ steam.realname }}</li>
        <li class="list-group-item">{{ steam_id }}</li>
      </ul>
    </div>
  </div>
  {% else %}
  <div class="col-md-6 my-auto mx-auto text-center">
    <div class="px-3 py-3 pt-md-5 pb-md-4">
      <a href="{% url 'social:begin' 'steam' %}">
          <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" width="180" height="35" border="0">
      </a>
    </div>
    <small class="text-danger">SteamID is required to signup for CS:GO. </small>
  </div>    
  {% endif %}

  <div class="col-md-4 offset-md-2 pt-4">
    

    <form action="#" method="POST" class="needs-validation" novalidate>{% csrf_token %}
      <div class="mb-3">
        <label for="{{ profile_form.display_name.id_for_label }}">Change Display Name</label>
          {{ profile_form.display_name }}
          <div class="invalid-feedback d-block">{{ profile_form.display_name.errors }}</div>
      </div>
      <button class="btn btn-primary btn-lg btn-block" name="updateProfile" type="submit">Update</button>
    </form>
    <hr class="mb-4">
    <div>
      {% if password_form.errors %}
        {% for field in password_form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
        {% endfor %}
        {% for error in password_form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">
        Change Password 
      </button>
    </div>
  </div><!--Edit profile ends -->
</div>


<!--Password Change Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="#" method="POST">{% csrf_token %}
        <div class="modal-body">
          {{ password_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <input type="submit" name="changePassword" class="btn btn-primary" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div><!--End Modal-->
{% endblock %}