{% block content %}

<div class="bgded overlay" style="background-image:url(http://eskipaper.com/images/gaming-wallpaper-31.jpg);">
<center><h1 class="display-3">All Teams</h1></center><br>
 <div id="separator"></div>
<div class="row">
	<div class="col-2">
	</div>
	
	<div class="col-4">
		<h2 class="display-2">CSGO Teams</h2>
		<div class="list-group">
		  {% for game in cs %}
		  <a href="{% url 'portal:CSView' team_id=game.id  %}" class="list-group-item list-group-item-action">
			{{ game.team_name }}
		  </a>
		  {% endfor %}
		</div>
		
	</div>
	<div class="col-1">
	</div>
	<div class="col-4">
		<h2 class="display-2">DOTA Teams</h2>
		
		{% for game in dota %}
		  <a href="{% url 'portal:DOTAView' team_id=game.id  %}" class="list-group-item list-group-item-action">
			{{ game.team_name }}
		  </a>
		{% endfor %}
	</div>
	
</div>

</div>

{% endblock %}