{% extends 'portal/base.html' %}

{% block title %}Registered Teams | Frag-Fest' 18{% endblock %}
{% block description %}
<meta name="description" content="All the teams registered for the Counter-Strike: Global Offensive Tournament at Frag-Fest' 18 ." />
{% endblock %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h3>Registered Teams <small class="text-muted">Counter Strike: Global Offensive</small></h3>
	<p class="lead">Following teams are registered for the tournament. The brackets are available on <a href="http://aparoksha.challonge.com/FragFestPrelims">Challonge</a>.</p>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Team Name</th>
			<th scope="col">No of Members</th>
			<th scope="col">Details</th>
			<th scope="col">Open/Locked</th>
		</tr>
	</thead>
	<tbody>
		{% for team in teams %}
		<tr>
			<td>{{ team.name }}</td>
			<td>{{ team.size }}</td>
			<td><a href="{% url 'portal:team' pk=team.pk %}">Team Page</a></td>
			<td>{% if team.locked %}
					<i class="fa fa-lock" aria-hidden="true"></i>
				{% else %}
					<i class="fa fa-unlock" aria-hidden="true"></i>
				{% endif %}
			</td>
		</tr>
		{% empty %}
		<tr><td>No teams available</td></tr>
		{% endfor %}
	</tbody>
</table>

<p>This list is final, and the brackets have been locked.</p>

{% endblock %}