{% autoescape off %}

Counter-Strike: Global Offensive
Rules and regulations

1) Connecting

Server IP Address will be sent to the team captain at least 1 hour before their match starts.
All members of the team must connect to the server within 15 minutes of the specified time or else they will be disqualified.
Only the players present in the original team specified by the captain must connect. (i.e players present here - https://frag-fest.in/teams/<your-team-id>

2) Initializing

Servers will be set up with Warmod, which require teams to ready up. Once both teams are ready, the game begins. 
The first round will be a Knife round, winner of this round will choose their starting side(i.e CT or T)
There will be an Admin present on each server, you can consult with him for everything.

3) The Match

The game-winning conditions are first to have a score of 16. Teams with the highest score at the end wins. In the event of a tie, the game will be reset and overtime will commence. 
Use of third party cheats or hacks to gain an unfair advantage is strictly not allowed. 
Teams found to be using hacks or cheats will be disqualified from the competition. 

4) Map Format

All maps will be played in the game mode Bomb. The aim of the game is the Terrorists to plant the bomb at either A or B bombsite and successfully detonate the device OR kill all members of the enemy team. 
The map pool consists of following maps: de_train, de_inferno, de_mirage, de_cobblestone, de_nuke, de_overpass, de_cache.

5) Match Interrupts/ Technical difficulties

If the match is interrupted due to server crash or player connection issue in the first three rounds of play then the game admin will restart the server resetting the score to 0 and previous round/cash/score will be discarded.
If this occurs after 3 rounds then the game will be restarted as it left off but start money for both teams will be set to $5000 for that half, and round continued to be played until a winner is determined or an overtime situation occurs. 
Or else for any other kind of interrupt the game caption should immediately inform to the admin.

Hope you have fun!

Regards,
Team Frag-Fest

{% endautoescape %}