{% autoescape off %}
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <title>Oscar</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0 ' />
  <meta name='format-detection' content='telephone=no' />
  <style>
    @font-face {
      font-family: 'Avenir';
      src: local('Avenir Next'), local('AvenirNext'), url('https://cdn2.hubspot.net/hubfs/544031/fonts/AvenirNextLT-Regular.woff') format('woff');
    }

    @font-face {
      font-family: 'Avenir';
      src: local('Avenir Next'), local('AvenirNext'), url('https://cdn2.hubspot.net/hubfs/544031/fonts/AvenirNextLT-Medium.woff') format('woff');
    }

    @font-face {
      font-family: 'Tiempos';
      font-weight: 600;
      src: local('Tiempos Headline'), local('TiemposHeadline'), url('https://cdn2.hubspot.net/hubfs/544031/fonts/TiemposHeadlineWeb-Semibold.woff') format('woff');
    }

    @media screen and (max-width: 639px) {
      .headline,
      .landing-message,
      .landing-image,
      .article-block {
        width: 100% !important;
      }
      .read-more-button {
        width: 100% !important;
      }
    }

    @media screen and (min-width: 640px) {
      .content-wrapper,
      .social-wrapper {
        width: 640px !important;
      }
    }
  </style>
</head>

<body bgcolor='#ffffff' style="background-color:#74cdb5;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;color:#444;font-family:'Avenir', Helvetica, Arial, sans-serif;font-size:14px;letter-spacing:.3px;line-height:20px;">
  <table width='100%' border='0' align='center' bgcolor='#74cdb5' cellpadding='0' cellspacing='0' style="padding-top:60px;">
    <tr>
      <td>
        <table border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' class='content-wrapper' style="border-left-width:1px;border-left-style:solid;border-left-color:#dcdcdc;border-right-width:1px;border-right-style:solid;border-right-color:#dcdcdc;border-top-width:1px;border-top-style:solid;border-top-color:#dcdcdc;table-layout:fixed;max-width:640px;width:100%;">
          <tr>
            <td style="padding-top:50px;padding-bottom:40px;padding-right:50px;padding-left:50px;">
              <h1 style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                <a href="https://aparoksha.org/">
                  <img alt="Oscar&#32;logo" src="https://marketing-image-production.s3.amazonaws.com/uploads/c6deaac248e8d21d76612b922b2eefd0bfd327c407409249eff90eb34c4b6764d392106f9e973822760432b20c75dc485f81113db65750d9a7e6616c1a1b9c8e.png"
                    style="border-style:none;width:auto;height:30px;" />
                </a>
                <a href="https://circlect.com">
                  <img alt="Circle Logo" src="https://marketing-image-production.s3.amazonaws.com/uploads/7889cb2a9d423c5addd9f526703c4857fd258651f4263e1d672ddd5ed6f8cbc91cfe4bce08d1de7eecddcb71ccd54ef8753d38322b1c5d2ea9336bde90d3f495.png"
                    style="margin-left:60px;border-style:none;width:auto;height:30px;" />
                </a>
                <a href="https://xsplit.com">
                  <img alt="XSplit logo" src="https://marketing-image-production.s3.amazonaws.com/uploads/3805e88f590ceb0d4796199e091223e1c041380263249bf1e972cc9c51f7d8466887436f2e5c31b78121105ca512b78f39b6c432bdf6c67b236f454b54a13e52.png"
                    style="margin-left:60px;border-style:none;width:auto;height:30px;" />
                </a>
              </h1>
    
            </td>

          </tr>
          <tr>
            <td class='headline' style="width:100%;padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;">
              <h2 style="color:#050D34;font-family:'Patua One', sans-serif;font-size:37px;letter-spacing:-.3px;line-height:42px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;">
                Frag-Fest' 18
              </h2>
            </td>
          </tr>
          <tr>
            <td style="padding-top:10px;">
              <table width='319' border='0' cellspacing='0' cellpadding='0' align='left' class='landing-message'>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;font-size:14px;letter-spacing:.3px;line-height:20px;">
                    <p>16th-18th March. The esports carnival is just around the corner.</p>
                    <p>
                      Save the dates and book your tickets.
                    </p>
                  </td>
                </tr>
              </table>
              <table width='319' border='0' cellspacing='0' cellpadding='0' align='left' class='landing-image'>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;">
 
                      <img width="156" alt="Oscar&#32;welcome" src="https://marketing-image-production.s3.amazonaws.com/uploads/68599ca5a8481fce88955be993246b96c04a580c61c22d50a4a79c4f820162982319edb0839dca15d051facb21a5cd582fef3b471c93e787e6b0633c828f0bfb.png"
                        height="153" style="display:block;width:100%;height:auto;" />
                  </td>
                  
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;">
              <table border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:640px;width:100%;">
                <td style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;padding-top:25px;"></td>
              </table>
            </td>
          </tr>
          <tr>
            <td style="width:100%;padding-top:35px;padding-bottom:0;padding-right:50px;padding-left:50px;">

            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:20px;padding-right:50px;padding-left:50px;font-size:14px;letter-spacing:.3px;line-height:20px;">

            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;">

              <table width="294" border="0" cellspacing="0" cellpadding="0" align="left" class="article-block" style="margin-bottom:40px;">
                <tr>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;">     
                      <img width="510" alt="Preventive&#32;Care&#32;and&#32;Benefits" src="https://frag-fest.in/static/portal/img/index/CSGO.jpg"
                        height="510" style="border-style:none;display:block;width:100%;height:auto;" />

                  </td>
                </tr>
                <tr>
                  <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;">
                    <div style="color:#003BDE;">The CS:GO Prelims have begun!</div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <p>
                      The brackets are live and teams are battling for the INR 1,00,000 prize pool. Top 4 teams in prelims get goodies.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <a class="read-more-button" href="aparoksha.challonge.com/FragFestPrelims" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;">View Brackets</a>
                  </td>
                </tr>
              </table>

              <table width="294" border="0" cellspacing="0" cellpadding="0" align="left" class="article-block" style="margin-bottom:40px;">
                <tr>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;">
                      <img width="509" alt="A/B&#32;testing&#32;framework" src="https://marketing-image-production.s3.amazonaws.com/uploads/265ac91cc344d1dc08f1262072fccec9068cbc5388cf5aef79189a135959c23347fe1fa10b82268225d453f07ac184a2901dbb978df16032bdccd2ddefdc4435.jpg"
                        height="509" style="border-style:none;display:block;width:100%;height:auto;" />
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;">
                    <div style="color:#003BDE;">Selected matches will be streamed live</div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <p>You can witness the live action on our Twitch Channel. The stream is powered by <a href="https://xsplit.com">XSplit</a>. Make sure to follow.</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <a class="read-more-button" href="https://www.twitch.tv/FragFestIIITA" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;">Twitch Channel</a>
                  </td>
                </tr>
              </table>

              <table width="294" border="0" cellspacing="0" cellpadding="0" align="left" class="article-block" style="margin-bottom:40px;">
                <tr>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;">
                      <img width="510" alt="Skin&#32;Conditions" src="https://frag-fest.in/static/portal/img/event/prev_fest.png"
                        height="510" style="border-style:none;display:block;width:100%;height:auto;" />
  
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;">
                    <div style="color:#003BDE;">Get ready for the main event</div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <p>
                      Hosting the biggest college organized gaming event in North India, at <a href="https://goo.gl/maps/xETkws2bgcm">IIIT Allahabad</a>.</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <a class="read-more-button" href="https://frag-fest.in/event/" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;">Learn More</a>
                  </td>
                </tr>
              </table>

              <table width="294" border="0" cellspacing="0" cellpadding="0" align="left" class="article-block" style="margin-bottom:40px;">
                <tr>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;">
          
                      <img width="509" alt="Security&#32;at&#32;Oscar" src="https://frag-fest.in/static/portal/img/index/ARENA.jpg"
                        height="509" style="border-style:none;display:block;width:100%;height:auto;" />
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;">
                    <div style="color:#003BDE;">Gaming Arena and Live Stage</div>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <p>A proper esports and gaming arena setup, with your favourite games within your reach. Experience live Counter-Strike and the thrill. Register now to be a part and recieve updates.</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;">
                    <a class="read-more-button" href="https://frag-fest.in/signup" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;">Sign Up</a>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;">
              <table border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:640px;width:100%;">
                <td style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;padding-top:25px;"></td>
              </table>
            </td>
          </tr>
          <tr>
            <td style="width:100%;padding-top:30px;padding-bottom:20px;padding-right:50px;padding-left:50px;">
              <h2 style="color:#050D34;font-family:'Tiempos', Times, Georgia, serif;font-size:37px;letter-spacing:-1px;line-height:42px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:center;">Follow Frag-Fest</h2>
            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:30px;padding-right:50px;padding-left:50px;text-align:center;font-size:14px;letter-spacing:.3px;line-height:20px;">
             Stay tuned with the latest updates.
            </td>
          </tr>
        </table>
        <table border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' class='social-wrapper' style="table-layout:fixed;max-width:640px;border-left-width:1px;border-left-style:solid;border-left-color:#dcdcdc;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;border-right-width:1px;border-right-style:solid;border-right-color:#dcdcdc;width:100%;">
          <tr>
            <td style="padding-bottom:40px;">
              <table border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:260px;width:100%;">
                <tr style="text-align:center;">
                  <td style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">
                    <a href='https://facebook.com/FragFestIIITA'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/facebook-square.png' class='facebook-icon'
                        style="border-style:none;display:inline-block;width:48px;height:auto;" />
                    </a>
                  </td>
                  <td style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">
                    <a href='https://twitter.com/FragFestIIITA'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/twitter.png' class='twitter-icon'
                        style="border-style:none;display:inline-block;width:48px;height:auto;padding-top:2px;" />
                    </a>
                  </td>
                  <td class='instagram-button' style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">
                    <a href='https://steamcommunity.com/groups/Frag-Fest'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/steam-square.png' class='instagram-icon'
                        style="border-style:none;display:inline-block;width:48px;height:auto;" />
                    </a>
                  </td>
                  <td class='youtube-button' style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;">
                    <a href='https://www.twitch.tv/FragFestIIITA/'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/twitch.png' class='youtube-icon'
                        style="border-style:none;display:inline-block;width:48px;height:auto;" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table border='0' align='center' bgcolor='#f9f9f9' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:640px;width:100%;">
          <tr style="text-align:center;">
            <td style="padding-top:30px;padding-bottom:80px;padding-right:40px;padding-left:40px;font-size:14px;letter-spacing:.3px;line-height:20px;">
                <a href="#" style="color:#003BDE;text-decoration:none;">Unsubscribe from all future emails.</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
{% endautoescape %}