<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <title>Oscar</title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0 ' />
  <meta name='format-detection' content='telephone=no' />
  <style>
  @font-face{
    font-family: 'Avenir';
    src: local('Avenir Next'), local('AvenirNext'), url('https://cdn2.hubspot.net/hubfs/544031/fonts/AvenirNextLT-Regular.woff') format('woff');
}
@font-face{
    font-family: 'Avenir';
    src: local('Avenir Next'), local('AvenirNext'), url('https://cdn2.hubspot.net/hubfs/544031/fonts/AvenirNextLT-Medium.woff') format('woff');
}
@font-face{
    font-family: 'Tiempos';
    font-weight: 600;
    src: local('Tiempos Headline'), local('TiemposHeadline'), url('https://cdn2.hubspot.net/hubfs/544031/fonts/TiemposHeadlineWeb-Semibold.woff') format('woff');
}
    @media screen and (max-width: 639px) {
      .headline,
      .landing-message,
      .landing-image,
      .article-block {
        width: 100% !important;
      }
      .read-more-button {
        width: 100% !important;
      }
    }
    @media screen and (min-width: 640px) {
      .content-wrapper,
      .social-wrapper {
        width: 640px !important;
      }
    }
  </style>
</head>
<body  bgcolor='#ffffff' style="background-color:#f9f9f9;margin-top:0px;margin-bottom:0px;margin-right:0px;margin-left:0px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;color:#444;font-family:'Avenir', Helvetica, Arial, sans-serif;font-size:14px;letter-spacing:.3px;line-height:20px;" >
  <table width='100%' border='0' align='center' bgcolor='#f9f9f9' cellpadding='0' cellspacing='0' style="padding-top:60px;" >
    <tr>
      <td>
        <table  border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' class='content-wrapper' style="border-left-width:1px;border-left-style:solid;border-left-color:#dcdcdc;border-right-width:1px;border-right-style:solid;border-right-color:#dcdcdc;border-top-width:1px;border-top-style:solid;border-top-color:#dcdcdc;table-layout:fixed;max-width:640px;width:100%;" >
          <tr>
            <td style="padding-top:50px;padding-bottom:40px;padding-right:50px;padding-left:50px;" >
              <h1 style="margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <a href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-j/"><img width="156" alt="Oscar&#32;logo" src="http://i8.cmail20.com/ti/d/A4/8DD/A72/005506/images/logo.png" style="border-style:none;width:78px;height:24px;" /></a>
              </h1>
            </td>
          </tr>
          <tr>
            <td  class='headline' style="width:100%;padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;" >
              <h2 style="color:#050D34;font-family:'Tiempos', Times, Georgia, serif;font-size:37px;letter-spacing:-.3px;line-height:42px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" >
                Oscar Monthly: December 2017
              </h2>
            </td>
          </tr>
          <tr>
            <td style="padding-top:10px;" >
              <table width='319' border='0' cellspacing='0' cellpadding='0' align='left' class='landing-message'>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;font-size:14px;letter-spacing:.3px;line-height:20px;" >
                    <p>Get ready to take on 2018 with insurance and health care advice – and see what our team has been working on to gear up for the new year.</p>
<p>
	Enjoy,<br />
	Ashley</p>
                  </td>
                </tr>
              </table>
              <table width='319' border='0' cellspacing='0' cellpadding='0' align='left' class='landing-image'>
                <tr>
                  <td style="padding-top:0;padding-bottom:0;padding-right:50px;padding-left:50px;" >
                    <a href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-t/"><img width="156" alt="Oscar&#32;welcome" src="http://i1.cmail20.com/ei/d/FA/E09/788/csimport/RevisedHeader.112512.png"  height="153" style="display:block;width:100%;height:auto;" /></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;" >
              <table  border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:640px;width:100%;" >
                <td style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;padding-top:25px;" ></td>
              </table>
            </td>
          </tr>
          <tr>
            <td style="width:100%;padding-top:35px;padding-bottom:0;padding-right:50px;padding-left:50px;" >
                    
            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:20px;padding-right:50px;padding-left:50px;font-size:14px;letter-spacing:.3px;line-height:20px;" >
              
            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;" >
              
                <table width="294" border="0" cellspacing="0" cellpadding="0" align="left"  class="article-block" style="margin-bottom:40px;" >
                  <tr>
                    <td>
                      </td></tr><tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;" >
                          <a href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-i/"><img width="510" alt="Preventive&#32;Care&#32;and&#32;Benefits" src="http://i2.cmail20.com/ei/d/FA/E09/788/csimport/PreventiveCare_NL.123652.jpg"  height="510" style="border-style:none;display:block;width:100%;height:auto;" /></a>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;" >
                          <div style="color:#003BDE;" >I’m here for the free stuff: Preventive care 101</div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <p>
	Health care is expensive, but there's good news: most plans provide free preventive care and benefits.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <a class="read-more-button" href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-d/" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;" >Read more</a>
                        </td>
                      </tr>
                </table>
              
                <table width="294" border="0" cellspacing="0" cellpadding="0" align="left"  class="article-block" style="margin-bottom:40px;" >
                  <tr>
                    <td>
                      </td></tr><tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;" >
                          <a href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-h/"><img width="509" alt="A/B&#32;testing&#32;framework" src="http://i3.cmail20.com/ei/d/FA/E09/788/csimport/ABTesting.123753.png"  height="509" style="border-style:none;display:block;width:100%;height:auto;" /></a>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;" >
                          <div style="color:#003BDE;" >A customizable A/B testing framework</div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <p>A behind-the-scenes look at Oscar’s bespoke A/B website testing framework, Belfry.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <a class="read-more-button" href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-k/" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;" >Read more</a>
                        </td>
                      </tr>
                </table>
              
                <table width="294" border="0" cellspacing="0" cellpadding="0" align="left"  class="article-block" style="margin-bottom:40px;" >
                  <tr>
                    <td>
                      </td></tr><tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;" >
                          <a href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-b/"><img width="510" alt="Skin&#32;Conditions" src="http://i4.cmail20.com/ei/d/FA/E09/788/csimport/SkinConditions_NL.123902.png"  height="510" style="border-style:none;display:block;width:100%;height:auto;" /></a>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;" >
                          <div style="color:#003BDE;" >6 totally normal (&amp; treatable) skin conditions</div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <p>
	If you have one of these conditions, don’t panic. They’re normal and usually easy to treat.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <a class="read-more-button" href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-n/" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;" >Read more</a>
                        </td>
                      </tr>
                </table>
              
                <table width="294" border="0" cellspacing="0" cellpadding="0" align="left"  class="article-block" style="margin-bottom:40px;" >
                  <tr>
                    <td>
                      </td></tr><tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;" >
                          <a href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-p/"><img width="509" alt="Security&#32;at&#32;Oscar" src="http://i5.cmail20.com/ei/d/FA/E09/788/csimport/Security_NL.124351.png"  height="509" style="border-style:none;display:block;width:100%;height:auto;" /></a>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:10px;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:17px;line-height:20px;letter-spacing:.3px;" >
                          <div style="color:#003BDE;" >Security, trust, and secrets management</div>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:25px;padding-left:25px;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <p>How Oscar invested in a cutting-edge password and token security solution to safeguard member data.</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="padding-top:0;padding-bottom:0;padding-right:45px;padding-left:25px;color:#444;font-size:14px;line-height:20px;letter-spacing:.3px;" >
                          <a class="read-more-button" href="http://oscarinsurancecorporation.cmail20.com/t/d-l-uutrdtl-ekyyhkrll-x/" style="background-color:#26Cfa2;border-radius:3px;color:#fff;float:left;display:block;font-size:12px;letter-spacing:.3px;padding-top:8px;padding-bottom:8px;padding-right:10px;padding-left:10px;min-width:50%;text-align:center;text-decoration:none;" >Read more</a>
                        </td>
                      </tr>
                </table>
              
          </td></tr><tr>
            <td style="padding-top:0;padding-bottom:0;padding-right:20px;padding-left:20px;" >
              <table  border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:640px;width:100%;" >
                <td style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;padding-top:25px;" ></td>
              </table>
            </td>
          </tr>
          <tr>
            <td style="width:100%;padding-top:30px;padding-bottom:20px;padding-right:50px;padding-left:50px;" >
              <h2 style="color:#050D34;font-family:'Tiempos', Times, Georgia, serif;font-size:37px;letter-spacing:-1px;line-height:42px;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;text-align:center;" >Follow @Frag-Fest</h2>
            </td>
          </tr>
          <tr>
            <td style="padding-top:0;padding-bottom:30px;padding-right:50px;padding-left:50px;text-align:center;font-size:14px;letter-spacing:.3px;line-height:20px;" >
              Stay healthy and save money with wellness<br />
and insurance tips from health care experts.
            </td>
          </tr>
        </table>
        <table  border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' class='social-wrapper' style="table-layout:fixed;max-width:640px;border-left-width:1px;border-left-style:solid;border-left-color:#dcdcdc;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#dcdcdc;border-right-width:1px;border-right-style:solid;border-right-color:#dcdcdc;width:100%;" >
          <tr>
            <td style="padding-bottom:40px;" >
              <table  border='0' align='center' bgcolor='#ffffff' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:260px;width:100%;" >
                <tr style="text-align:center;" >
                  <td style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;" >
                    <a href='https://facebook.com/FragFestIIITA'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/facebook-square.png'  class='facebook-icon' style="border-style:none;display:inline-block;width:48px;height:auto;" />
                    </a>
                  </td>
                  <td style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;" >
                    <a href='https://twitter.com/FragFestIIITA'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/twitter.png'  class='twitter-icon' style="border-style:none;display:inline-block;width:48px;height:auto;padding-top:2px;" />
                    </a>
                  </td>
                  <td  class='instagram-button' style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;" >
                    <a href='https://steamcommunity.com/groups/Frag-Fest'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/steam-square.png' class='instagram-icon' style="border-style:none;display:inline-block;width:48px;height:auto;" />
                    </a>
                  </td>
                  <td  class='youtube-button' style="width:24%;padding-top:0;padding-bottom:0;padding-right:5px;padding-left:5px;" >
                    <a href='https://www.twitch.tv/FragFestIIITA/'>
                      <img src='https://raw.githubusercontent.com/encharm/Font-Awesome-SVG-PNG/master/black/png/64/twitch.png'  class='youtube-icon' style="border-style:none;display:inline-block;width:48px;height:auto;" />
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table  border='0' align='center' bgcolor='#f9f9f9' cellpadding='0' cellspacing='0' style="table-layout:fixed;max-width:640px;width:100%;" >
          <tr style="text-align:center;" >
            <td style="padding-top:30px;padding-bottom:80px;padding-right:40px;padding-left:40px;font-size:14px;letter-spacing:.3px;line-height:20px;" >
              <p>Oscar Health, 295 Lafayette St, New York, NY, 10012, USA</p>
              <p>You received this email because you are subscribed to Content and Social from Oscar Health. Update your <a href="#" style="color:#003BDE;text-decoration:none;" >email preferences</a> to choose the types of emails you receive.</p>
              <p><a href="#" style="color:#003BDE;text-decoration:none;" >Unsubscribe from all future emails.</a></p>
            </td>
          </tr>
        </table>
	</td></tr></table>
</body>
</html>


