{% extends 'portal/base.html' %}
{% load static %}
{% block title %}All Games | Frag-Fest' 18{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/csgo.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Starting with the prelims, and onto the playoffs at IIIT Allahabad. Make sure to <a href="{% url 'portal:signup' %}">register</a> yourself, and then visit the <a href="{% url 'portal:dashboard' %}">Team Dashboard</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/fifa.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Witness the best football simulation game ever, and compete in a thrilling 1v1 multi-tier knockout tournament at IIIT Allahabad. <a href="{% url 'portal:signup' %}">Register Now</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/dota2.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Enter the battle as your favourite hero. Compete in teams of 5 to defeat the enemy teams. No online prelims, <a href="{% url 'portal:signup' %}">register</a> directly for the LAN event.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/cs1.6.png' %}" style="height:345px;width:100%;" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">A revisit to the all-time classic. Open for all via LAN play at IIIT Allahabad, starting from 16th March in a best-of-1 map knockout tournament to the finals. All players in the team need to be <a href="{% url 'portal:signup' %}">registered</a>.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/croyal.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Clash Royale is a mobile tower rush video game developed by Supercell. It combines elements from
collectible card games, tower defence etc.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/cod.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Call of Duty Infinite Warfare is a FPS video game developed by Infinity Ward. You play as Captain Nick , trying to overcome the deadly environments of Space.</p>
      </div>
    </div>
  </div>

  
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/battle.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Battlefield 4 is the thirteenth instalment in the Battlefield Series developed by DICE and published by EA where gamers will experience huge environments , a playground of destruction and much more
in this FPS game.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/destiny.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Destiny is FPS game by Activison . The game features a multiplayer environment with elements of
role-playing games where players take on the role to protect Earth.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/nfs.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">It is a racing video game Published by Electronic Arts which is set in the open world of Fortune Valley and is focused on action driving and has three playable characters.</p>
      </div>
    </div>
  </div>
  
</div>


{% endblock %}