{% extends 'portal/base.html' %}
{% load static %}

{% block content %}

<main role="main">

	<section class="jumbotron text-center">
		<div class="container font-style">
			<h1 class="jumbotron-heading">CS:GO Schedule</h1>
				<!-- <a href="#" class="btn btn-primary my-2">Register Here</a>
				<a href="#" class="btn btn-secondary my-2">Registered Teams</a> -->
				<p>Coming up Soon!</p>
		</div>
	</section>

	<div class="album py-5 bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 box-shadow text-center">	
				<div class="card-header">
						<h4 class="my-0 font-weight-normal font-style">Friday 16th</h4>
				</div>
			</div>  	
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow text-center">	
				<div class="card-header">
						<h4 class="my-0 font-weight-normal font-style">Saturday 17th</h4>
				</div>
			</div>  	
				</div>
				<div class="col-md-4">
					<div class="card mb-4 box-shadow text-center">	
				<div class="card-header">
						<h4 class="my-0 font-weight-normal font-style">Sunday 18th</h4>
				</div>
			</div>  	
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">12:30</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Openings</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">12:30</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Openings</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">12:30</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Openings</p>
							</div>
						</div>
					</div>
				</div>    
				</div>

				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">14:30</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Pre-Show</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">14:30</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Pre-Show</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">14:30</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Pre-Show</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">16:00</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">QuarterFinal #1</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">16:00</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">SemiFinal #1</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">16:00</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">GrandFinal</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">20:00</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">QuarterFinal #2</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">19:00</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">SemiFinal #2</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-4">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">19:00</p>
							</div>
						</div>
					</div>
					<div class="col-md-8">	  	
						<div class="card mb-4 box-shadow">
							<div class="card-body">
								<p class="card-text bold text-center">Closing Ceremony</p>
							</div>
						</div>
					</div>
				</div>    
				</div>
			</div>
		</div>
	</div>

</main>

{% endblock %}
