{% load static %}
<footer class="container pt-4 my-md-5 pt-md-5 border-top">
	<div class="row">
		<div class="col-6 col-md">
			<img class="mb-2" src="{% static 'portal/logo/logo_transparent.png' %}" alt="Logo" width="124" height="124">
			<small class="d-block my-3 text-muted">&copy; Frag-Fest, 2018. All rights reserved.</small>
		</div>
		<div class="col-6 col-md">
			<h5>About Frag-Fest</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="{% url 'portal:event' %}">The Event</a></li>
				<!-- <li><a class="text-muted" href="{% url 'portal:sponsors' %}">Sponsors</a></li> -->
				<!-- <li><a class="text-muted" href="{% url 'portal:schedule' %}">Schedule</a></li> -->
				<li><a class="text-muted" href="{% url 'portal:organizers' %}">Organizers</a></li>
				<li><a class="text-muted" href="https://aparoksha.org/" target="_blank">Aparoksha, IIIT Allahabad <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Counter-Strike:
				<br>Global Offensive</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="{% url 'portal:csgo' %}">Info</a></li>
				<li><a class="text-muted" href="{% url 'portal:cs_matches' %}">Matches</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Others</h5>
			<ul class="list-unstyled text-small">
			<li><a class="text-muted" href="{% url 'portal:fifa' %}">FIFA</a></li>
			<li><a class="text-muted" href="{% url 'portal:all_games' %}">All Games</a></li>
			<li><a class="text-muted" href="mailto:fragfest@aparoksha.org">Contact Us</a></li>
			<li><a class="text-muted" href="{% url 'portal:terms' %}">Terms &amp; Conditions</a></li>
			</ul>
		</div>
	</div>
</footer>