{% extends 'portal/base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h3>Organizers <small class="text-muted">"Team Frag-Fest"</small></h3>
	</div>
	<div class="at-grid" data-column="4">
		<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/13645151_593720360788589_71700474073785791_n.jpg?oh=cfc395642959a1207dc4ea5a8e7ed0f1&oe=5B1C4966"></div>
					<div class="at-user__name">Raghav Khandelwal</div>
					<div class="at-user__title">Lead Organizer</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/raghavthecyberdude">
								<i class="fa fa-facebook-official"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://twitter.com/gr8raghav">
								<i class="fa fa-twitter"></i></a>
						</li>
						<li class="at-social__item">
							<a href="http://steamcommunity.com/id/teraflik/">
								<i class="fa fa-steam"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://plus.google.com/+RaghavKhandelwalRTC">
								<i class="fa fa-google-plus"></i></a>
						</li>
					</div>
				</div>
		</div>
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/atul_sinha.jpg' %}"></div>
				<div class="at-user__name">Atul Sinha</div>
				<div class="at-user__title">Lead Organizer</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/atulsinha007">
							<i class="fa fa-facebook-official"></i></a>
					</li>
				</div>
			</div>
		</div>
		
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/Hariom.jpg' %}"></div>
				<div class="at-user__name">Hariom Niranjan</div>
				<div class="at-user__title">Coordinator, Team Aparoksha</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/hackzone.cool">
							<i class="fa fa-facebook-official"></i></a>
					</li>		
						
				</div>
			</div>
		</div>
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/manan.jpg' %}"></div>
				<div class="at-user__name">Manan Maheshwari</div>
				<div class="at-user__title">PR and Branding</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/manan.maheshwari.9">
							<i class="fa fa-facebook-official"></i></a>
					</li>
					<li class="at-social__item">
						<a href="http://steamcommunity.com/id/kabramanan/">
							<i class="fa fa-steam"></i></a>
					</li>
					<li class="at-social__item">
							<a href="https://plus.google.com/112056341201399700566">
								<i class="fa fa-google-plus"></i></a>
					</li>
					<li class="at-social__item">
							<a href="https://twitter.com/mananromess">
								<i class="fa fa-twitter"></i></a>
					</li>
				</div>
			</div>
		</div>
		<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/arindam.jpg' %}"></div>
					<div class="at-user__name">Arindam Das Modak</div>
					<div class="at-user__title">Web Developer</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/arindam.dasmodak1">
								<i class="fa fa-facebook-official"></i></a>
						</li>
					</div>
				</div>
		</div>
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/austin.jpg' %}"></div>
				<div class="at-user__name">Austin Kispotta</div>
				<div class="at-user__title">PR and Branding</div>
				<div class="at-social">
						<li class="at-social__item">
							<a href=" https://www.facebook.com/austin.kispotta">
							<i class="fa fa-facebook-official"></i></a>
						</li>	
						<li class="at-social__item">
							<a href="https://twitter.com/AustinKispotta">
								<i class="fa fa-twitter"></i></a>
						</li>
						<li class="at-social__item">
							<a href="http://steamcommunity.com/id/kayoxity/">
								<i class="fa fa-steam"></i></a>
						</li>
						<li class="at-social__item">
							<a href=" https://plus.google.com/u/1/117070861357096641339">
								<i class="fa fa-google-plus"></i></a>
						</li>
				</div>
			</div>
		</div>
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/agam.jpg' %}"></div>
				<div class="at-user__name">Agam Dwivedi</div>
				<div class="at-user__title">Web Developer</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/profile.php?id=100007152586385">
							<i class="fa fa-facebook-official"></i></a>
					</li>
					<li class="at-social__item">
						<a href="http://steamcommunity.com/profiles/76561198371809523/">
							<i class="fa fa-steam"></i></a>
					</li>
					<li class="at-social__item">
						<a href="https://twitter.com/Born_Confused77">
							<i class="fa fa-twitter"></i></a>
					</li>
				</div>
			</div>
		</div>
		
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/shubham.jpg' %}"></div>
				<div class="at-user__name">Shubham Yadav</div>
				<div class="at-user__title">Event Management and Hospitality</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/profile.php?id=100006852851469">
						<i class="fa fa-facebook-official"></i></a>
					</li>	
					<li class="at-social__item">
						<a href="https://twitter.com/Shubham7616">
							<i class="fa fa-twitter"></i></a>
					</li>
					<li class="at-social__item">
						<a href="http://steamcommunity.com/profiles/76561198428956338/">
							<i class="fa fa-steam"></i></a>
					</li>
					<li class="at-social__item">
							<a href="https://plus.google.com/103937710361029907239">
								<i class="fa fa-google-plus"></i></a>
					</li>
				</div>
			</div>
		</div>
		<div class="at-column">
				<div class="at-user">
					<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/pratyay.jpg' %}"></div>
					<div class="at-user__name">Pratyay Kumar</div>
					<div class="at-user__title">Event Management and Hospitality</div>
					<div class="at-social">
						<li class="at-social__item">
							<a href="https://www.facebook.com/pratyay.kumar.75">
								<i class="fa fa-facebook-official"></i></a>
						</li>
						<li class="at-social__item">
							<a href="http://steamcommunity.com/id/pratyaykumar">
								<i class="fa fa-steam"></i></a>
						</li>
						<li class="at-social__item">
							<a href="https://plus.google.com/105338226991042518846">
								<i class="fa fa-google-plus"></i></a>
						</li>
					</div>
				</div>
		</div>
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/dhupar.jpg' %}"></div>
				<div class="at-user__name">Raghav Dhupar</div>
				<div class="at-user__title">Event Management and Hospitality</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/raghavdhuparsoap">
							<i class="fa fa-facebook-official"></i></a>
					</li>
				</div>
			</div>
		</div>
		
		<div class="at-column">
			<div class="at-user">
				<div class="at-user__avatar"><img src="{% static 'portal/img/organizers/dabas.jpg' %}"></div>
				<div class="at-user__name">Saurabh Dabas</div>
				<div class="at-user__title">Sponsorship</div>
				<div class="at-social">
					<li class="at-social__item">
						<a href="https://www.facebook.com/saurabh.dabas.12">
							<i class="fa fa-facebook-official"></i></a>
					</li>		
					<li class="at-social__item">
						<a href="https://twitter.com/dabassaurabh98">
							<i class="fa fa-twitter"></i></a>
					</li>
					<li class="at-social__item">
						<a href="https://steamcommunity.com/id/dabas98/">
							<i class="fa fa-steam"></i></a>
					</li>
					<li class="at-social__item">
							<a href="https://plus.google.com/u/1/103937904701098111168">
								<i class="fa fa-google-plus"></i></a>
					</li>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}	