{% extends 'portal/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/csgo.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/fifa.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/cod.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/croyal.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/dota2.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/battle.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/destiny.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/nfs.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/cod.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}