{% extends 'portal/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/csgo.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Couter Strike Go is a first-person Shooter video game which expands upon the team-based action
gameplay where players play as terrorists or counter-terrorists.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/fifa.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Fifa 18 is a football simulation video game developed and published by Electronic Arts bringing to
life the players , teams and atmospheres of Football.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/dota2.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Dota 2 is a multiplayer battle arena game in which matches are played between 2 teams of 5 players
each defending their own separate base on the map using different special characters.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/cs1.6.png' %}" style="height:345px;width:100%;" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Couter Strike 1.6 is a first-person Shooter video game which expands upon the team-based action
gameplay where players play as terrorists or counter-terrorists.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/croyal.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Clash Royale is a mobile tower rush video game developed by Supercell. It combines elements from
collectible card games, tower defence etc.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/cod.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Call of Duty Infinite Warfare is a FPS video game developed by Infinity Ward. You play as Captain
Nick , trying to overcome the deadly environments of Space.</p>
      </div>
    </div>
  </div>

  
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/battle.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Battlefield 4 is the thirteenth instalment in the Battlefield Series developed by DICE and published by
EA where gamers will experience huge environments , a playground of destruction and much more
in this FPS game.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/destiny.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Destiny is FPS game by Activison . The game features a multiplayer environment with elements of
role-playing games where players take on the role to protect Earth.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/nfs.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">It is a racing video game Published by Electronic Arts which is set in the open world of Fortune Valley
and is focused on action driving and has three playable characters.</p>
      </div>
    </div>
  </div>
  
</div>


{% endblock %}