{% extends 'portal/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/csgo.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/fifa.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/cod.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/croyal.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/dota2.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/battle.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/destiny.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/nfs.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% static 'portal/img/all_games/cod.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}