{% extends 'portal/base.html' %}
{% load static %}

{% block content %}
<h2 class="display-3 text-center mt-3">Sponsors</h2>
<main role="main" class="container">
<div class="row">
   <div class="col-md-7">
      <img src="{% static 'portal/img/sponsors/Circle.png' %}" alt="CircleCT" class="img-fluid m-3" style="height: 200px; width: 100%; display: block;">
   </div>
   <div class="col-md-1">
   </div>
   <div class="col-md-4">
      <br><br>
      <div class="card mb-4 box-shadow text-center">  
         <div class="card-header">
            <h2 class="display-3 text-center mt-3" style="color:#0b8a85;">CircleCT</h2>
         </div>
      </div>
   </div>
   <br>
   </div>
   <hr style="height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(231, 123, 200, 0.5);"/>
    <br>
    <div class="row">
   <div class="col-md-5">
      <br><br><br><br>
      <div class="card mb-4 box-shadow text-center">  
         <div class="card-header">
            <h2 class="display-3 text-center mt-3" style="color:#0b8a85;">Zebronics</h2>
         </div>
      </div>
   </div>

   <div class="col-md-7">
      <br><br>
      <img src="{% static 'portal/img/sponsors/zebronics.png' %}" alt="Zebronics" class="img-fluid m-3" style="height: 200px; width: 100%; display: block;">
   </div>
   </div>

   <hr style="height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(231, 123, 200, 0.5);"/>
    <div class="row">
   <div class="col-md-7">
      <br><br>
      <img src="{% static 'portal/img/sponsors/xsplit.png' %}" alt="Xsplit" class="img-fluid m-3" style="height: 200px; width: 100%; display: block;">
   </div>
   <div class="col-md-1">
   </div>
   <div class="col-md-4">
      <br><br><br><br>
      <div class="card mb-4 box-shadow text-center">  
         <div class="card-header">
            <h2 class="display-3 text-center mt-3" style="color:#0b8a85;">Xsplit</h2>
         </div>
      </div>
   </div>
</div>
<br><br>
<hr style="height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(231, 123, 200, 0.5);"/>
<br><br>
<h3 class="display-4 text-center mt-4">Join Us</h3>
<br>
<div class="row">

   <div class="col-md-4 text-center">
      <span class="fa fa-map-marker"></span>
      <h3>18+ States</h3>
      <p>Teams from all over India.</p>
   </div>

   <div class="col-md-4 text-center">
      <span class="fa fa-university"></span>
      <h3>200+ Colleges</h3>
      <p>Gamers representing their turf.</p>
   </div>

   <div class="col-md-4 text-center">
      <span class="fa fa-users"></span>
      <h3>32+ Teams</h3>
      <p>Battling to prove their might!</p>
   </div>

</div>
<br>
<div class="mt-4 text-center">
   Check out our <a target="_blank" href="Frag-Fest-18_International-Brochure.pdf">sponsorship prospectus</a> or email us at <a target="blank" href="mailto:fragfest@aparoksha.org">fragfest@aparoksha.org</a>.
</div>

{% endblock %}
