{% extends 'portal/base.html' %}
{% load static %}
{% block content %}
<h3 class="display-4 text-center mt-3 mb-3">Terms &amp; Conditions</h3>
<main role="main" class="container">
<div class="row">
   <div class="col-md-12">
      <h4>General</h4>
      <p>The Frag-Fest administrator has the right to decide outside or even against the rules in special cases to guarantee fairplay.</p>
   </div>
   <div class="col-md-12">
      <h4>Code of Conduct</h4>
      <p>Every participant has to behave with respect towards the representatives of the Frag-Fest, viewers and other players. The participants are requested to represent Frag-Fest, and their Sponsors honorably. This applies to behavior in-game and also in chats, comments and other media. We expect players to conduct themselves according to the following values:</p>
      <ul>
         <li>Compassion: treat others as you would be treated.</li>
         <li>Integrity: be honest, be committed, play fair.</li>
         <li>Respect: show respect all other humans, including teammates, competitors, and event staff.</li>
      </ul>
      <p>Participants must not engage in harassment or hate speech in any form. This includes, but is not limited to:</p>
      <ul>
         <li>Hate speech, offensive behavior, ethnicity, disability, physical appearance, body size, age, or religion.</li>
         <li>Stalking or intimidation (physically or online).</li>
         <li>Spamming, raiding, hijacking, or inciting disruption of streams or social media.</li>
         <li>Posting or threatening to post other people’s personally identifying information (“doxing”).</li>
         <li>Advocating for, or encouraging, any of the above behavior.</li>
      </ul>
      <p>Violation of this Code of Conduct will result in penalty points. In the case of repeat or extreme violations, penalties may include disqualification, or banning from future Frag-Fest events.</p>
      <ul>
         <li>
            <h5>Insults and offensive behaviour</h5>
            <p>All insults that happen during matches or during the event, may be punished. This includes ingame chat of the corresponding game, discord, match comments, match-chat. Insults that happen on external messengers are not taken into account.</p>
         </li>
         <li>
            <h5>Spamming</h5>
            <p>The excessive posting of futile, annoying or offensive contributions within the Frag-Fest is considered as spamming. Spamming on the event pages (facebook, twitter, twitch, youtube, steam , etc) will be penalized.</p>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h4>Matches and tournament</h4>
      <p>In all matches there should be a fair playing field for all players.</p>
      <p>Every match must be played according to the rules until it is complete and the result on the Frag-Fest page entered, or at events the result sheet is completed. Any encounter that did not take place, should be deleted. Matches will be played only by admins to delete exceptions. Matches that did not take place will be considered fake matches and will be punished.</p>
      <p>It is not allowed for participants to bet on matches in their own competition. Betting against yourself (in team leagues: against your own team) will get your team disqualified and the betting player banned for next tournaments.</p>
   </div>
   <div class="col-md-12">
      <h4>Game Coverage</h4>
      <p>The Frag-Fest reserves exclusive right to the coverage of Frag-Fest matches. This includes all forms of transmission, including IRC Bots, Shoutcast-streams and HLTV Broadcasts. The Frag-Fest team can assign the coverage rights of a match or of several matches to a third party or to the actual players themselves. In this case, terms and conditions would have to be arranged with the Frag-Fest management before the match.</p>
      <p>In general, the Frag-Fest will contact any player or team if they wish to broadcast one of their matches. Should the game take place on a server that Frag-Fest administrators have no direct access to, it must be made sure that enough slots are available for the according clients.</p>
   </div>
   <div class="col-md-12">
      <h4>Fraud/deception</h4>
      <p>We, at Frag-Fest don’t encourage threats by attacks on the integrity of esports and hence on the competition.</p>
      <ul>
         <li>
            <h5>Deception</h5>
            <p>The attempt to deceive admins or other players with wrong or fake statements, information or data will not be tolerated.</p>
         </li>
         <li>
            <h5>Other unauthorized offences</h5>
            <p>Including but not limited to the abusing of bugs in the website. These penalties are at the discretion of the responsible admin and are penalized according to severity.</p>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h4>Cheating</h4>
      <p>All forms of cheating in Frag-Fest matches are forbidden and will be penalized by the Frag-Fest . Players found cheating outside of the Frag-Fest may be barraged on the Frag-Fest depending on the evidence available. Note, we do not accept publicly submitted demo or screenshot evidence in these cases. Should it become known to the Frag-Fest administrators that any form of cheating was used to the advantage of a player or a team during an Frag-Fest match, the Frag-Fest reserves the right to punish them to the full extent of the rules available. By breaking any rule a player risks being barred or completely excluded from the tournament. This also includes their team.</p>
      <p>The use of programs (or "hacks") or other methods to circumvent, modify or in any way manipulate Valve Anti Cheat is forbidden. Any use of such programs or methods will be punished as cheating. The use of programs (or "hacks") or other methods to circumvent, modify or in any way manipulate Valve Anti Cheat is forbidden. Any use of such programs or methods will be punished as cheating. Even testing of such programs or methods in a match not happening within the Frag-Fest will be punished.Even testing of such programs or methods in a match not happening within the Frag-Fest will be punished.</p>
      <ul>
         <li>
            <h5>Distribution of cheats</h5>
            <p>Contributing to the distribution of cheats in any way is not allowed on  Frag-Fest. This includes but is not limited to referring to the name, website or logo of cheats anywhere on  Frag-Fest, such as player profiles, team profiles, etc.</p>
            <p>Violating this rule will be punished from a warning up to exclusion from Frag-Fest.</p>
         </li>
         <li>
            <h5>Cheating Sanctions</h5>
            <p>Disqualification from the tournament, results voided, forfeiture of prize money, ban between 2 years and lifetime depending on age and level of player and nature/size of tournament and how the player cheated. </p>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h4>Match-Fixing/betting fraud</h4>
      <p>Engaging in any action that improperly influences the outcome of a game or match by any means.</p>
      <ul>
         <li>
            <h5>Match-Fixing Sanctions</h5>
            <p>Results voided, 2 year ban unless with the intervention of Frag-Fest administrators or, in the presence of aggravating circumstances, a longer ban, forfeiture of prize money (if discovered before the end of a tournament, disqualification).</p>
         </li>
         <li>
            <h5>Competition manipulation and bribery</h5>
            <p>Bribing or attempting to bribe a referee or organizer or trying to manipulate the competition.</p>
         </li>
         <li>
            <h5>Competition manipulation and bribery Sanctions</h5>
            <p>Results voided, ban of between 1 and 2 years, forfeiture of prize money and monetary fine (if discovered before the end of a tournament, disqualification)</p>
         </li>
         <li>
            <h5>Second and subsequent offences</h5>
            <p>For second and subsequent offences, participants should expect far harsher sanctions and in all likelihood a lifetime ban from esports.</p>
            <ul>
               <li>
                  <h6>Multi-accounts</h6>
                  <p>Each player in the Frag-Fest must only have one account! If a player can not access his account and then creates a new one, then he/she must write a support ticket explaining in detail the reason for not being able to access the account.</p>
               </li>
               <li>
                  <h6>Nicknames, Team Names and URL Aliases</h6>
                  <p>We reserve the right to edit Nicknames and/or URL aliases, if they fail to comply with the following requirements.</p>
                  <p>Nicknames/aliases are forbidden if they:</p>
                  <ul>
                     <li>are protected by third-party rights and the user has no written permission</li>
                     <li>resemble or if they are identical to a brand or trademark, no matter whether it has been registered or not</li>
                     <li>resemble or if they are identical to a real person other than themselves</li>
                     <li>are nonsense</li>
                     <li>explicitly harassing words</li>
                  </ul>
               </li>
            </ul>
         </li>
      </ul>
   </div>
   <div class="col-md-12">
      <h4>Teams</h4>
      <p>A team's name does not have to be unique, but the Frag-Fest reserves the right to refuse clans with the same or similar names as a well-known clan (e.g. If you named your team “Natus Vincere" etc, that would not be allowed).</p>
      <p>Names which are restricted by law will not be accepted and will be deleted and punished if found. Also, names which go against all forms of etiquette and good manners will not be accepted.</p>
      <p>The logo must represent the team and have some reference to the team's name or to the team's short handle. Copyrighted logos, or logos which go against etiquette and good manners will not be accepted.</p>
      <ul>
         <li>
            <h5>Changing team names</h5>
            <p>A team cannot change its name during the tournament. Extremely long names, or team name consisting of offensive words can be punished.</p>
         </li>
         <li>
            <h5>Players in team</h5>
            <p>A player may only play for one team in the tournament.</p>
         </li>
         <li>
            <h5>Sponsors/partnerships</h5>
            <p>The Frag-Fest administration reserves the right to prohibit or remove teams with sponsors or partners that are solely or widely known for pornographic, drug use or other adult/mature themes and products from partaking in Frag-Fest events at any time.</p>
         </li>
      </ul>
   </div>
</div>
{% endblock %}
